body {
  background-color: rgb(220, 242, 242);
}

.container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt-3 {
  margin-top: 10px;
}

.date-and-time {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.date {}

.time {}

.btn {
  display: flex;
  font-size: 18px;
  padding: 50px 12px;
  justify-content: center;
  align-items: center;
}

.btn-action,
.btn-report {
  padding: 10px 20px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border: 1px solid rgba(236, 232, 232, 0.989);
  padding: 50px;
}

.form-heading {
  margin-top: -20px;
  margin-bottom: 0px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-input {
  border-color: rgb(111, 107, 107);
  border-radius: 3px;
  padding: 7px 15px;
}

.form-btns {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-login,
.btn-reg {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
}

.btn-login {
  background-color: rgb(83, 80, 154);
  color: aliceblue;
}

.btn-reg {
  background-color: rgb(48, 100, 48);
  color: aliceblue;
}

.reports {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 200px;
  background-color: white;
  border: 1px solid rgba(236, 232, 232, 0.989);
}

.pointer {
  cursor: pointer;
}

.color-red {
  background-color: brown;
  border: none;
  border-radius: 3px;
  color: aliceblue;
}

.color-green {
  background-color: rgb(39, 105, 39);
  border: none;
  border-radius: 3px;
  color: aliceblue;
}

.color-blue {
  background-color: rgb(83, 80, 154);
  border: none;
  border-radius: 3px;
  color: aliceblue;
}


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: rgb(83, 80, 154);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}